{% extends "base.html" %}

{% load bootstrap5 %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">
    Alterar a Senha
</li>
{% endblock %}

{% block page_title %}
Alterar a Senha
{% endblock %}

{% block main %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Alterar a Senha</h3>
    </div>
    <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="row">
                <div class="col-md-4">
                    {% bootstrap_field field %}
                </div>
            </div>
            {% endfor %}
            <hr>
            <p style="text-align: right;">
                <a href="{% url 'core:index' %}" class="btn btn-default">Voltar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </p>
        </form>
    </div>
</div>
{% endblock %}
