{% extends "security/login.html" %}

{% load bootstrap5 %}

{% block form %}
<form class="login100-form validate-form" method="post">
    <p class="text-center">
        <img src="{{ STATIC_URL }}images/nxt_logo.jpg" class="header-brand-img" alt="">
    </p>
    {% csrf_token %}
    <span class="login100-form-title pb-5">
        Esqueci a Senha
    </span>
    <div class="panel panel-primary">
        <div class="panel-body tabs-menu-body p-0 pt-5">
            {% bootstrap_messages %}
            <div class="tab-content">
                <div class="tab-pane active" id="tab5">
                    <div class="wrap-input100 validate-input input-group">
                        <span class="input-group-text bg-white text-muted">
                            <i class="zmdi zmdi-email text-muted" aria-hidden="true"></i>
                        </span>
                        <input class="input100 border-start-0 form-control ms-0" type="email" placeholder="E-mail" name="email" required>
                    </div>
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn btn-primary">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}