{% extends "security/login.html" %}

{% load bootstrap5 %}

{% block form %}
<form class="login100-form validate-form" method="post">
    <p class="text-center">
        <img src="{{ STATIC_URL }}images/nxt_logo.jpg" class="header-brand-img" alt="">
    </p>
    {% csrf_token %}
    <span class="login100-form-title pb-5">
        Informe a nova senha
    </span>
    <div class="panel panel-primary">
        <div class="panel-body tabs-menu-body p-0 pt-5">
            {% bootstrap_messages %}
            <div class="tab-content">
                <div class="tab-pane active" id="tab5">
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    {% for field in form %}
                    {% bootstrap_field field %}
                    {% endfor %}
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn btn-primary">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}